h1,h2,h3,h4,h5,h6{
    margin: 0 !important;
}
.warning {
    color: #FFCC00;
  }
  
  .error {
    color: #e60000;  
  }

@import 'fan-health-monitoring/variables';
@import 'fan-health-monitoring/mixins';

// Plugins CSS
@import "fan-health-monitoring/plugins/plugin-animate-bootstrap-notify";
@import "fan-health-monitoring/plugins/plugin-perfect-scrollbar";

// Core CSS
@import "fan-health-monitoring/buttons";
@import "fan-health-monitoring/inputs";
@import "fan-health-monitoring/typography";
@import "fan-health-monitoring/misc";
@import "fan-health-monitoring/checkboxes-radio";


// components
@import "fan-health-monitoring/navbar";
@import "fan-health-monitoring/page-header";
@import "fan-health-monitoring/dropdown";
@import "fan-health-monitoring/alerts";
@import "fan-health-monitoring/images";
@import "fan-health-monitoring/nucleo-outline";
@import "fan-health-monitoring/tables";
@import "fan-health-monitoring/sidebar-and-main-panel";
@import "fan-health-monitoring/footers";
@import "fan-health-monitoring/fixed-plugin";

// cards
@import "fan-health-monitoring/cards";
@import "fan-health-monitoring/cards/card-plain";
@import "fan-health-monitoring/cards/card-chart";
@import "fan-health-monitoring/cards/card-user";
@import "fan-health-monitoring/cards/card-map";
@import "fan-health-monitoring/cards/card-stats";

// angular differences
@import "fan-health-monitoring/angular/plugin-ngx-toastr";
@import "fan-health-monitoring/angular/sidebar-and-main-panel";
@import "fan-health-monitoring/angular/dropdown";
@import "fan-health-monitoring/angular/inputs";
@import "fan-health-monitoring/angular/fixed-plugin";

@import "fan-health-monitoring/responsive";
