<div class="card">
    <div class="card-header">
      <h5 class="card-title">Recent Events</h5>
    </div>
    <div class="card-body">
      <div class="alert alert-info">
            <span class="time">1 min ago</span>
        <span>Inlet Temperature Exceeded the threshold value of 250 degree Celsius</span>
      </div>
      <div class="alert alert-info">
        <span class="time">2 min ago</span>
        <span>Inlet Temperature Exceeded the threshold value of 250 degree Celsius</span>
      </div>
      <div class="alert alert-info " data-notify="container">
        
        <span class="time">3 min ago</span>
        <span data-notify="message">Inlet Temperature Exceeded the threshold value of 250 degree Celsius</span>
      </div>
      <div class="alert alert-info" data-notify="container">
       
        <span class="time">4 min ago</span>
        <span data-notify="message">Inlet Temperature Exceeded the threshold value of 250 degree Celsius</span>
      </div>
    </div>
  </div>