/*.row{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #ddd;
    color: #000;
    margin-bottom: 5px;
    

}*/
/*
.card .card-body {
    padding: 0 15px 10px 15px;
}

.card .card-title {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.header {
background: gray;
color: #fff;
}
*/
.advisor {
    //border: 1px solid rgba(0,0,0,.12);
   //padding: 10px 0 30px 0;
   // margin-top: 10px;
    .advisorContent  {
        .header {
            border: none;
        }
    }
    
    h6 {
        margin-left: 10px !important;
    }
    .row {
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
        margin: 0 0 10px  0;
        
        width: 100%;
        div{
            padding: 10px;
        }
    }
    a{
        float: right;
        margin-right: 10px;
    }
}