
<div class="advisor">
       
          <h6 class="">Advisor</h6>
        
        <div class="advisorContent">
                <div class="row header" >
                        <!--div class="col-3 col-md-3">
                            <span>Impact</span>
                        </div-->
                        <div class="col-3 col-md-3">
                            <span>Timestamp</span>
                        </div>
                        <div class="col-1 col-md-1">
                            <span>Type</span>
                        </div>
    
                        <div class="col-8 col-md-8">
                            <span>Recommendation</span>
                        </div>
                    </div>
                <div class="row ">
                    <!--div class="col-3 col-md-3">
                        <span>High</span>
                    </div-->
                    <div class="col-3 col-md-3">
                        <span>02-04-2020 16:42 56</span>
                    </div>

                    <div class="col-1 col-md-1">
                        <span class="nc-icon nc-chart-pie-36" data-notify="icon"></span>
                    </div>

                    <div class="col-8 col-md-8">
                        <span>Adjust speed to maintain temperature for next 2 hours</span>
                    </div>
                </div>
                <div class="row ">
                        <!--div class="col-3 col-md-3">
                        <span>High</span>
                        </div-->
                        <div class="col-3 col-md-3">
                            <span>02-04-2020 16:42 56</span>
                        </div>
                        <div class="col-1 col-md-1">
                            <span class="nc-icon nc-chart-pie-36" data-notify="icon"></span>
                        </div>
    
                        <div class="col-8 col-md-8">
                            <span>Adjust speed to maintain temperature for next 2 hours</span>
                        </div>
                    </div>
                    <div class="row ">
                        <!--div class="col-3 col-md-3">
                        <span>High</span>
                        </div-->
                        <div class="col-3 col-md-3">
                            <span>02-04-2020 16:42 56</span>
                        </div>
                        <div class="col-1 col-md-1">
                            <span class="nc-icon nc-chart-pie-36" data-notify="icon"></span>
                        </div>
    
                        <div class="col-8 col-md-8">
                            <span>Adjust speed to maintain temperature for next 2 hours</span>
                        </div>
                    </div>

        </div>
        
      </div>
