<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    
    <div class="main-panel" >
        <navbar-cmp></navbar-cmp>
       
        <div class="content" style="margin-top: 20px;">
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!--fixedplugin-cmp></fixedplugin-cmp-->
