.imgContainer {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 5px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    a{
        margin: 5px;
        display: block;
    }
}