
<div class="card">
    <div class="card-header">
      <h5 class="card-title">Recommendation Browser</h5>
    </div>
    <div class="card-body">
            <div class="row header" >
                    <!--div class="col-3 col-md-3">
                        <span>Impact</span>
                    </div-->
                    <div class="col-4 col-md-4">
                        <span>Type</span>
                    </div>

                    <div class="col-8 col-md-8">
                        <span>Recommendation</span>
                    </div>
                </div>
            <div class="row alert alert-info" *ngFor="let recommendation of recommendationArr">
                <!--div class="col-3 col-md-3">
                    <span>High</span>
                </div-->
                <div class="col-4 col-md-4">
                    <span class="nc-icon nc-chart-pie-36" data-notify="icon"></span>
                </div>

                <div class="col-8 col-md-8" (click)="send(recommendation)">
                    <span>{{recommendation.suggestionText}}</span>
                </div>
            </div>
            <!--div class="row alert alert-info">
                 
                    <div class="col-4 col-md-4">
                        <span class="nc-icon nc-chart-pie-36" data-notify="icon"></span>
                    </div>

                    <div class="col-8 col-md-8">
                        <span>Adjust speed to maintain temperature for next 2 hours</span>
                    </div>
                </div-->

    </div>
  </div>


