.row{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #ddd;
    color: #000;
    margin-bottom: 5px;
    

}
.card .card-header {
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #009999;
}
.card .card-body {
    padding: 0 15px 10px 15px;
}

.card .card-title {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.header {
background: gray;
color: #fff;
}