<div class="card">
    <div class="card-body">
        <div class="row "  style="height: 250px;overflow: hidden;border-bottom: 1px solid #ddd">
            <div class="col-md-4">
                <app-gauge-chart [options]= "gaugeChartPressure"></app-gauge-chart>

            </div>
            <div class="col-md-4">
                <app-gauge-chart [options]= "gaugeChartTemperature"></app-gauge-chart>

            </div>
            <div class="col-md-4">
                <app-gauge-chart [options]= "gaugeChartVibration"></app-gauge-chart>

            </div>
        </div>
        <div class="row "  style="height: 250px;overflow: hidden;border-bottom: 1px solid #ddd">
                <div class="col-md-4">
                    <app-stacked-area [options]= "stackedAreaChartTemperature"></app-stacked-area>
    
                </div>
                <div class="col-md-4">
                    <app-stacked-area [options]= "stackedAreaChartVibration"></app-stacked-area>
    
                </div>
                <div class="col-md-4">
                    <app-stacked-area [options]= "stackedAreaChartSpeed"></app-stacked-area>
    
                </div>
            </div>



    </div>
</div>
