mat-slider {
    width: 300px;
  }
  label{
    margin-right: 10px;
  }

  .card .card-header {
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #009999;
}
.card .card-body {
    padding: 0 15px 10px 15px;
}

.card .card-title {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
