<div class="card">
  <div class="card-header">
    <h5 class="card-title">Action Console</h5>
  </div>
  <div class="card-body">


    <div class="row">
      <div class="col-md-12">
        <app-line-chart [options]="tempLine"></app-line-chart>

      </div>
      <div class="col-md-12">
        <app-line-chart [options]="tempLine"></app-line-chart>

      </div>
    </div>
    <div class="row " style="height: 250px;overflow: hidden;">
      <div class="col-md-12">
        <!-- <app-line-chart [options]="tempLine"></app-line-chart> -->
      </div>

    </div>


  </div>
</div>
