
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal" style="text-align: center">
      <div class="" style="width: 90px; margin:0 auto">
        <img src="assets/img/siemens.png">
      </div>
    </a>
    <!--a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a-->
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]" style="margin: 5px 10px;font-size: 12px">
                <!--i class="nc-icon {{menuItem.icon}}"></i-->
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
