/*.card .card-header {
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #009999;
}

.card .card-body {
    padding: 0 15px 10px 15px;
}

.card .card-title {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

button {
    margin-top: 0;
    border: none;
    font-size: 20px;
    color: #6bd098;
    background: none;
}

*/
.container {
    height: 130px;
    margin-bottom: 20px;
}
.overallHealth {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 15px;
    .row {
        margin-left: 60px;
    }
    .card{
        padding: 20px 20px 15px 20px;
        width: 280px;
        .title {
            position: absolute;
            top: 0;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: #717070;
        }
        .voltWrapper {
            
            .volt {
                margin-right: 25px;
                .value {
font-size: 24px !important;
span {
    font-size: 11px !important;
    color: #717070 !important;
    margin-left: 0;
}
                }
                .status {
text-align: right !important;
                }
            }
        }
        &.good {
            box-shadow: 0px 7px 10px -4px rgba(129, 241, 120, 1);
        }
        &.warning {
            box-shadow: 0px 7px 10px -4px #FFEB9C;
        }
        &.bad {
            box-shadow: 0px 7px 10px -4px #FFC7CE;
        }
        .statusIcon {
            position: absolute;
            font-size: 20px;
            top: 5px;
            right: 5px;
            &.good {
                color: rgba(129, 241, 120, 1);
            }
            &.warning {
                color: #ecec13;
            }
            &.bad {
                color: #e60000;
            }

        }
    .tempWrapper, .voltWrapper {
        width: 100%;
        position: relative;
      
        .temp, .volt {
            display: inline-block;
.value {
margin: 0;
font-weight: 400;
font-style: normal;
font-size: 28px;
color: #717070;
line-height: 12px;
span {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #717070;
    margin-left: 5px;
}
}

    .status {
        margin: 0;
        font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #717070;
    text-align: left;
    }

        }
        .tempIcon, .voltIcon {
display: inline-block;
font-size: 30px;
color: #adb5bd;
margin-right: 6px
        }
    }
}
}
