
<div class="overallHealth">

      <h6 class="card-title">Overall ID FAN123 Health</h6>

      <div class="container">
    
            <app-gauge-chart [options]= "overAllFanHealth"></app-gauge-chart>
           
      
    </div>

      <div class="row ">

        <div class="col-4 col-md-4 icon">
        
          <div class="card good">
          <div class="tempWrapper">
            <span class="tempIcon">
              <i class="fa fa-thermometer-half" aria-hidden="true"></i>
              </span>
            <div class="temp">
            <p class="value">56<span></span></p>
            <p class="status">Inlet Temperature </p>
          </div>

           
          </div>
          <span class="statusIcon good">
            <i class="fas fa-check-circle"></i>
            </span>
        </div>

<div class="card bad">
  <span class="title">Voltage</span>
          <div class="voltWrapper">
            <span class="voltIcon">
              <i class="fa fa-tachometer-alt"></i>
              </span>
            <div class="volt">
            <p class="value">56<span>V</span></p>
            <p class="status">V1 </p>
          </div>
          <div class="volt">
            <p class="value">56<span>V</span></p>
            <p class="status">V2 </p>
          </div>
          <div class="volt">
            <p class="value">56<span>V</span></p>
            <p class="status">V3 </p>
          </div>

          
          </div>
          <span class="statusIcon bad">
            <i class="fas fa-times-circle"></i>
            </span>
        </div>
         
          </div>

        <div class="col-4 col-md-4">
        
          <div class="card warning">
          <div class="tempWrapper">
            <span class="tempIcon">
              <i class="fa fa-tachometer-alt"></i>
              </span>
            <div class="temp">
            <p class="value">115<span>RPM</span></p>
            <p class="status">Speed </p>
          </div>

           
          </div>
          <span class="statusIcon warning">
            <i class="fas fa-exclamation-triangle"></i>
            </span>
        </div>

        <div class="card good">
          <span class="title">Current</span>
          <div class="voltWrapper">
            <span class="voltIcon">
              <i class="fa fa-bolt"></i>
              </span>
     

          <div class="volt">
            <p class="value">72<span>A</span></p>
            <p class="status">11 </p>
          </div>
          <div class="volt">
            <p class="value">69<span>A</span></p>
            <p class="status">12 </p>
          </div>
          <div class="volt">
            <p class="value">75<span>A</span></p>
            <p class="status">13 </p>
          </div>





          
          </div>
          <span class="statusIcon good">
            <i class="fas fa-check-circle"></i>
            </span>
        </div>
        </div>

        <div class="col-4 col-md-4 icon">
        
        
          <div class="card bad">
            <div class="tempWrapper">
              <span class="tempIcon">
                <i class="fa fa-tachometer-alt"></i>
                </span>
              <div class="temp">
              <p class="value">82<span></span></p>
              <p class="status">Inlet Pressure </p>
            </div>
  
             
            </div>
            <span class="statusIcon bad">
              <i class="fas fa-times-circle"></i>
              </span>
          </div>

          <div class="card warning">
            <span class="title">Vibration</span>
            <div class="voltWrapper">
              <span class="voltIcon">
                <i class='fa fa-align-center'></i>
                </span>
              <div class="volt">
              <p class="value">35<span>m/s2</span></p>
              <p class="status">X </p>
            </div>
            <div class="volt">
              <p class="value">35<span>m/s2</span></p>
              <p class="status">Y </p>
            </div>
  
             
            </div>
            <span class="statusIcon warning">
              <i class="fas fa-exclamation-triangle"></i>
                          </span>
          </div>
                       
        </div>

        </div>

  </div>
