<!-- <div class="row" style="margin-top: 10px; width: 100%">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <app-recommendation></app-recommendation>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
        <app-action-console></app-action-console>
    </div>

  </div> -->


<div class="row">
  <div class="col-md-12 ">
    <mat-tab-group #tabGroup class="advisorTrend">
      <mat-tab label="Advisor">
        <div class="row" style="margin-top: 10px; width: 100%">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <app-recommendation></app-recommendation>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
              <app-action-console></app-action-console>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Trend View">
        <app-trend-view></app-trend-view>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>

