<!--div class="card card-stats">
        <div class="card-header">
                <h5 class="card-title">Event Summary</h5>
              </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-6 col-md-6">
                    <div class="numbers">
                            <p class="card-category">12<i class="fa fa-exclamation-circle error"></i></p>
                            <p class="card-value">Critical </p><p></p></div>
            </div>
                    <div class="col-6 col-md-6">
                        <div class="numbers">
                            <p class="card-category">20<i class="fa fa-warning warning"></i></p>
                            <p class="card-value">Warning </p><p></p></div>
                        </div></div></div>
                            
                            
                            </div-->

<div class="eventsummary">

<h6 class="card-title">Event Summary</h6>


<div class="row critical">
<div class="col-8 col-md-8">
<div class="numbers">
<p class="value">12</p>
<p class="status">Critical </p></div>
</div>
<div class="col-4 col-md-4 icon">

<i class="fa fa-exclamation-circle error"></i>
               
</div>
</div>

<div class="row warning">
<div class="col-8 col-md-8">
<div class="numbers">
<p class="value">20</p>
<p class="status">Warning </p>
</div>
</div>
<div class="col-4 col-md-4 icon">
<div>
    <i class="fa fa-exclamation-triangle"></i>
</div>>
</div>
</div>
                            
                            
</div>
