/*.card .card-header {
    padding: 5px 15px;
    margin-bottom: 10px;
    background: #009999;
}

.card .card-body {
    padding: 0 15px 10px 15px;
}
.card {


.card-title {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.card-value {
    color: #66615B;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.card-category {
    font-size: 20px;
    i{
        margin-left: 5px;
    }
}
}
*/
.eventsummary {
   /* border: 1px solid rgba(0,0,0,.12);
    padding: 10px;
    margin-top: 10px;*/
    h6 {
        margin-left: 10px !important;
    }
.row {
    border: 1px solid red;
    margin: 30px;
    border-radius:3px;
    padding: 5px;
    .numbers{
        padding: 5px 0 5px 25px;
        .value {
            font-weight: 700;
            font-style: normal;
            font-size: 28px;
            color: #000;
            margin: 0;
            line-height: 30px;
        }
        .status {
            font-weight: 700;
            font-style: normal;
            font-size: 11px;
            color: #000;
            margin: 0;
        }
    }
    &.critical {
        background-color: #ffb3b3;
        border-color: rgba(235, 17, 17, 1);
    }
    &.warning {
        background-color: #e6e600;
        border-color: rgba(247, 225, 18, 1);

    }
   
}
.icon{
    display: flex; 
    justify-content: center; /* center items vertically, in this case */
    align-items: center; 
i {
    font-size: 30px;
   
}
}

}