<!--div class="selection "   style="margin: 20px 0">
  <select class="card" style="width: 16%; padding: 10px; outline: none; border-radius: 0">
    <option>Select</option>
    <option>Fan 1</option>
    <option>Fan 2</option>
    <option>Fan 3</option>
    <option>Fan 4</option>
  </select>
</div-->
<mat-tab-group #tabGroup>
 
    <mat-tab label="Overview">
        <div class="row" style="margin-top: 10px; width: 100%">

            <!--div class="col-lg-3 col-md-3 col-sm-3">
              <app-current-health-status></app-current-health-status>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <app-event-summary></app-event-summary>
              <app-recent-events></app-recent-events>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">            
                <app-advisor></app-advisor>
                <a style="cursor:pointer" (click)="tabGroup.selectedIndex = 3">>>Check Recommendations</a>
              </div-->            
         
          <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" value="ID Fan123" class="fanType">
            <app-id-fan-image></app-id-fan-image>
<div class="eventSummery">
              <app-event-summary></app-event-summary>
              <a style="cursor:pointer" (click)="tabGroup.selectedIndex = 2">View All</a>
              </div>

            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <app-current-health-status></app-current-health-status>
              <div class="advisorContainer">
              <app-advisor></app-advisor>
              <a style="cursor:pointer" (click)="tabGroup.selectedIndex = 1">View All>></a>
            </div>
            </div>
         
            </div>

      </mat-tab>
    <!--mat-tab label="Details">
      
        <div class="row" style="margin-top: 10px; width: 100%">
            <div class="col-lg-12 col-md-12 col-sm-4">
              <app-device-details></app-device-details>
            </div>
            
                       
          </div>    
    
    </mat-tab-->
    
    <mat-tab label="Insights"> 
      <app-advisor-detail></app-advisor-detail>
    </mat-tab>
    <mat-tab label="Event Viewer"> Content 3 </mat-tab>

  </mat-tab-group>

 
  