.fanType {
    border: 1px solid rgba(0,0,0,.12);
    width: 100%;
    padding-left: 10px ;
    color: #000;
    font-weight: 600;
}
.advisorContainer {
border: 1px solid rgba(0,0,0,.12);
border-radius: 5px;
padding: 5px;
padding: 10px 0 0 0;
margin-top: 10px;
position: relative;
height: 270px;
a{
    cursor: pointer;
    position: absolute;
    right: 8px;
}
}

.eventSummery {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
padding: 10px 0 25px 0;
margin-top: 10px;
position: relative;
//height: 300px;
a{
    border-radius: 10px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 700;
    background-color: rgba(6, 137, 198, 1);
    display: block;
    width: 98px;
    margin: 0 auto;

}

}